body{
    margin:0%;
    background-color: black;
  
}
.forIcon{
    width:100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;  
    position: relative;
  }
  .forIcon .forShopicon{
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    background-image:url(logo1.png);
    background-size: cover;
    background-position: center;
    border: 1px solid black;
  }
  .forIcon .forCaption{
    width: auto;
    height: auto;
    margin: auto;
    position: relative;
  }
  .forIcon .forCaption .p1{
    color: white;
     text-align: center;
     font-size: large;
     font-style: bold;
      
                    
  }
  .forIcon .forCaption .p2{
  font-size: small;
  text-align: center;
  color: white;
  
  font-style: oblique;
  
  }
  .forIcon .fa-cart-shopping {
    color: white;
    position: relative;
    font-size: x-large;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
  
  }
  .forIcon .fa-bars{
    color: rgb(255, 255, 255);
   font-size: x-large;
   position: relative;
   margin-top: 20px;
   margin-right: 15px;
   cursor: pointer;
  
  }
  .forNotfication{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    color: rgb(254, 43, 43);
    background-color:rgb(254, 43, 43); 
  transform: translate(0px,-26px);
  display: none;
  }
  
#forContainer{
    width: 100%;
background-image: url(playboy0.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 0;
padding: 0%;
height: 550px;
}


 #forNav{
    position: absolute;
    width: 100%;
    height:550px;
    background-color: white;
    display: flex;
  flex-wrap: wrap;
    
    display: none;
}
#forNav h3{
    color: rgb(0, 0, 0);
    text-align: start;
    padding-left: 10px;
    font-style: italic;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(79, 72, 72);
}
#forNav #CCB{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#forNav #CCB #for-add-to-cart{
   
    width:50% ;
    height: auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
 } 
 .for-add-to-cards{
    width: 195px;
    height: 270px;
    background-color: rgb(224, 195, 157);
    border-radius: 20px;
    margin-top: 5px;
    border: 1px black solid;
    margin-left: 25px;
  ;
}
 .for-add-to-cards img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    
  }
 
 .for-add-to-cards .forText{
    
    height: auto;
    text-align: center;

    padding-top: 10px;

    
 }
 .for-add-to-cards .forBtnNum{
    width: 100%;
    height: auto;
    padding-top: 10px;

   
 }
 .for-add-to-cards .forBtnNum .numforbtn{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 7px;
    margin-top: 5px;
    
    
 }
 .for-add-to-cards .forBtnNum .numforbtn .prevNbtn{
    width: 25px;
    height: 25px;
    font-size: small;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
  
 }
 .for-add-to-cards .forBtnNum .numforbtn .nextNbtn{
    width: 25px;
    height: 25px;
    font-size: small;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
margin-top: 0;
 }
 .for-add-to-cards .forCancel{
    padding-top: 10px;
text-align: center;
color:red;
top: 0;
margin-top: 0;
cursor: pointer;
 }
 .for-add-to-cards3{
    width: 195px;
    height: 270px;
    background-color: rgb(224, 195, 157);
    border-radius: 20px;
    margin-top: 5px;
    border: 1px black solid;
    margin-left: 25px;
  ;
 }
 .for-add-to-cards3 img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    
 }
 .for-add-to-cards3 .forText3{
    height: auto;
    text-align: center;

    padding-top: 10px;
 }
 .for-add-to-cards3 .forBtnNum3{
    width: 100%;
    height: auto;
    padding-top: 10px;
 }
 .for-add-to-cards3 .forBtnNum3 .numforbtn3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 7px;
    margin-top: 5px;
 }
 .for-add-to-cards3 .forBtnNum3 .numforbtn3 .prevNbtn3{
    width: 25px;
    height: 25px;
    font-size: small;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
margin-top: 0;
 }
 .for-add-to-cards3 .forBtnNum3 .numforbtn3 .nextNbtn3{
    width: 25px;
    height: 25px;
    font-size: small;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
margin-top: 0;
 }
 .for-add-to-cards3  .forCancel3{
    padding-top: 10px;
    text-align: center;
    color:red;
    top: 0;
    margin-top: 0;
    cursor: pointer;
 }
 #forNav #CCB #forCloseAndBuy{
    width: 50%;
    height: 550px;
    position: relative;
    
    display: flex;
    justify-content: center;

 }

 #forNav #forCloseAndBuy #close{
    padding-left: 10px;
font-size: x-large;
padding-top: 10px;
color: rgb(0, 0, 0);
font-style: bold;
border-radius: 10px;
float: left;
cursor: pointer;

 }
#forNav #forCloseAndBuy #buy{
    width: 140px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-style: bold;
border-radius: 10px;
    }
    #forNav #CCB #forCloseAndBuy #address{

        width: 100%;
    
        height: 100%;
    }
    #forNav #CCB #forCloseAndBuy #address p{
        text-align: center;
        font-weight: bold;
    }
    #forNav #forCloseAndBuy #address #shipadd{
     margin: auto;
width: 90%;
height:50% ;
border: 1px solid rgb(43, 42, 42);
background: rgba(186, 180, 180, 0.219);
backdrop-filter: blur(100px);
display: flex;
flex-direction: column;
justify-content: space-around;
padding-left: 15px;
padding-top: 15px;
padding-bottom: 15px;
    }
#forNav #forCloseAndBuy #address #shipadd #username{
        width: 90%;
    }
    #forNav #forCloseAndBuy #address #shipadd #gmail{
        width: 90%;
    }
    #forNav #forCloseAndBuy #address #shipadd #tele{
        width: 90%;
    }
    #forNav #forCloseAndBuy #address #shipadd #state{
        width: 91%;
    }
    #forNav #forCloseAndBuy #address #shipadd #apartment{
        width: 90%;
    }
    #forNav #forCloseAndBuy #address #shipadd #ordernote{
        width: 90%;
       
    }
  #address #orderSummery{
width: 100%;
height: auto;


    }
    #address #orderSummery #sumCost{
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: row;
    }
    #address #orderSummery #sumCost #total{
        display: flex;
        width: 40%;
        height: 180px;
      
        display: grid;
        padding: 5px;
    }
    
    #address #orderSummery #sumCost #QRcode{
    
        width: 60%;
        height: 194px;
        display: grid;

        margin: 0%;
        padding: 0%;
    }
    #address #orderSummery #sumCost #QRcode p{
        margin: 0%;
        padding: 0%;
    }
    #address #orderSummery #sumCost #QRcode #forQR{
        width: 140px;
        height: 140px;
 padding-bottom: 20px;
 justify-content: center;
 margin: auto;
    }
  
 #forContainer #forNavbar{
 position: relative;
    width: 150px;
    height: auto;
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(4px);
    border-radius: 5px;

   transform: translateX(1374px);
    display: none;
    
    
}
#forContainer #forNavbar ol{
padding-left: 5px;
display: grid;
gap: 15px;
justify-content: space-around;
text-align: center;
list-style: none;


}
#forContainer #forNavbar ol #a1{
font-size: small;
margin: auto;
color: white;
padding-left: 2px;
padding-top: 10px;
}
#forContainer #forNavbar ol #a2{
    font-size: small;
    margin: auto;
    color: white;
    padding-left: 2px;
    padding-top: 30px;
    }
    #forContainer #forNavbar ol #a3{
        font-size: small;
        margin: auto;
        color: white;
        padding-top: 30px;
        padding-left: 2px;
        }
#forContainer #forNavbar ol #i1{
font-size: small;
padding-left: 4px;
color: rgb(255, 234, 0);
}
#forContainer #forNavbar ol #i2{
font-size: small;
padding-left: 4px;
color: greenyellow;
}
#forContainer #forNavbar ol #i3{
    font-size: small;
    padding-left: 4px;
    color: rgb(204, 166, 13);
}

.ContainNav{
    width: 100%;
    background-color: black;
    height: auto;
    position: relative;
  
  }
  .ContainNav .NavOl{
    width:100%;
    display: flex;
    list-style: none;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .ContainNav .NavOl a {
    margin: 4px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .ContainNav .NavOl a .fa-fire{
    color: #ea5104;
   
  }
  .ContainNav .NavOl a .fa-plus{
    color: rgb(119, 188, 14)
   
  }
  .ContainNav .NavOl a .fa-house{
    color: #ffffff;
   
  }
  .ContainNav .NavOl a .fa-arrow-trend-up{
    color: #474bc9;
   
  }
  
  
  
  
  #ExContainer{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  }
  #ExContainer .con1{
    position: relative;
  width:100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  
  }
  #ExContainer .con2{
    position: relative;
    width:100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: none;
  
  }
  #ExContainer .con3{
    position: relative;
    width:100%;
  height: auto;
    background-color: rgb(0, 0, 0);
    display: none;
  }
  #ExContainer .con4{
    position: relative;
    width:100%;
    height: auto;
  background-color: rgb(0, 0, 0);
  display: none;
  }
   #fbox{
    width: 100%;
    height: auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;

        
    }
     #fbox .ffbox{
    width: 195px;
    height: 270px;
    background-color: rgb(224, 195, 157);
    border-radius: 20px;
    margin-top: 5px;
    border: 1px black solid;
    margin-left: 25px;
   
  }
   #fbox .ffbox .forImage{
    width: 100%;
    height: 60%;
    border-radius: 20px;
  }
   #fbox .ffbox .altImage{
  width: 100%;
  height: 7%;
  text-align: center;
  padding: 0%;
  margin-top: 0%;
  font-weight: bold;
  }
   #fbox .ffbox .infoImage{
    width: 100%;
  height: 18%;
  text-align: center;
  font-size: small;
  padding-top: 4px;
  overflow: visible;
  }
   #fbox .ffbox .btnImage{
    width: 100%;
    height: 12%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #fbox .ffbox .btnImage .price{
    padding-top: 8px;
  }
  #fbox .ffbox .btnImage .btnCart{
    border-radius: 5px;
    cursor: pointer;
  }
  
  


#forcontainer2{
    width: 100%;
background-image: url(photo_2024-04-06_14-47-29.jpg);
background-repeat: no-repeat;
background-size: cover;
        height: 663px;
        position: relative;   
}
#forHeader2{
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
}
#forHeader2 .fa-chess-king{
    color: white;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
    font-style: italic;
}
#forHeader2 h3{
    padding: 0%;
    color: white;
    padding-top: 5px;
        position: absolute;
        font-style: italic;
}
#forMain2{
    width: 100%;
    height: 523px;
    display: flex;
    flex-direction: row;
}
#longWidth2{
width: 60%;
height: 483px;
margin-top: 20px;
margin-left: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;

}
#longWidth2 #forinfo{
    width: 840px;
height: 300px;
margin-left: 35px;
margin-top: 30px;
}

#shortWidth2{
    width:35%;
height: 483px;
background-color: rgba(0, 0, 0, 0.219);
backdrop-filter: blur(2px);
margin-top: 20px;

}
#forSlide{
    width:100%;
    height:443px;
    margin-top:20px;
    position: relative;
    
}
#forSlide #forslider{
    width: 100%;
    height:300px;
  margin-left:15px;
 

    
}
#forSlide #forslider .ForImgSlider{
    width:100%;
    height: 300px;
position: absolute;
}
 #fordescription{
    width:100%;
    height:50px;
    transform: translateY(15px);
    margin-left: 10PX ;
    display: flex;
    flex-direction: row;
}
#fordescription #prevbtn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
    color: white;background:rgba(68, 66, 66, 0.219);
    backdrop-filter: blur(2px);
    text-align: center;cursor: pointer;
    transform: translate(70px,15px);
}
#fordescription #longbutt{
    width: 300px;
    height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#fordescription #longbutt .fa-chess-knight{
    height: 18px;
  color:white;
  border: black;
    margin-top: 10px;
}
#fordescription #nextbtn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
    color: white;background:rgba(68, 66, 66, 0.219);
    backdrop-filter: blur(2px);
    text-align: center;
    cursor: pointer;
transform: translate(-70px,15px);
}
#forfavbtn{
    width:500px ;
    height: 65px;
    background-color:lightgray;
    margin: auto;
    margin-top: 20px;
 display: flex;
 flex-direction: row;
 border-radius: 20px;
}
#for2btn2{
    width: 220px;
    height:45px ;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#forfavbtn #forh2{
    width: 150px;
    height: 35px;
    margin: auto;
    text-align: center;
}
#forh2 .onlyinh2{
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px black;
    transform: translate(0px,-10px);
}
 .purchase2{
    width:100px ;
    height: 35px;
    background-color: black;
    color: white;
    padding: 0;
    text-align: center;
    margin: auto;
    font-weight: bold;
}
 .add2cart2{
    width:100px ;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0;
    text-align: center;
  margin: auto;
        font-weight: bold;
}

#forcontainer3{
    width: 100%;
background-image: url(photo_2024-04-08_21-19-18.jpg);
background-repeat: no-repeat;
background-size: cover;
        height: 663px;
        position: relative;   
}
#forHeader3{
    width: 1536px;
    height: 70px;
}
#forHeader3 .fa-chess-queen{
    color: white;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
    font-style: italic;
}
#forHeader3 h3{
    padding: 0%;
    color: white;
    padding-top: 5px;
        position: absolute;
        font-style: italic;
}

#forMain3{
    width: 1536px;
    height: 523px;
    display: flex;
    flex-direction: row;
}
#longWidth3{
width: 896px;
height: 483px;
margin-top: 20px;
margin-left: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#longWidth3 #forinfo3{
    width: 840px;
    height: 300px;
    margin-left: 35px;
    margin-top: 30px;
}
#shortWidth3{
    width: 560px;
height: 483px;
background-color: rgba(0, 0, 0, 0.219);
backdrop-filter: blur(2px);
margin-top: 20px;
margin-left:20px;
}
#forSlide3{
    width:520px;
    height:443px;
    margin-left: 20px;
    margin-top:20px;
    position: relative;
}
#forSlide3 #forslider3{
    width: 500px;
    height:300px;
   margin-left: 10px;
   position: relative;
    transform: translateY(10px);
}
#forSlide3 #forslider3 .ForImgSlider3{
    width: 500px;
    height: 300px;
    position: absolute;
}
 #fordescription3{
    width:500px;
    height:50px;
    transform: translateY(15px);
    margin-left: 10PX ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#fordescription3 #prevbtn3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
    color: white;background:rgba(68, 66, 66, 0.219);
    backdrop-filter: blur(2px);
    text-align: center;cursor: pointer;
    transform: translate(70px,15px);
}
#fordescription3 #nextbtn3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
    color: white;background:rgba(68, 66, 66, 0.219);
    backdrop-filter: blur(2px);
    text-align: center;
    cursor: pointer;
transform: translate(-70px,15px);
}
#fordescription3 #longbutt3{
    width: 300px;
    height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#fordescription3 #longbutt3 .fa-chess-bishop{
    width: 15px;
    height: 20px;
  color:white;
  border: black;
    margin-top: 10px;
}

#forfavbtn3{
    width:500px ;
    height: 65px;
    background-color:lightgray;
    margin: auto;
    margin-top: 20px;
 display: flex;
 flex-direction: row;
 border-radius: 20px;
}
#forfavbtn3 #forh3{
    width: 150px;
    height: 35px;
    margin: auto;
    text-align: center;
}
#forfavbtn3 #forh3 .onlyinh3{
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px black;
    transform: translate(0px,-10px);
}
#forfavbtn3 #for2btn3{
    width: 220px;
    height:45px ;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#forfavbtn3 .purchase3{
    width:100px ;
    height: 35px;
    background-color: black;
    color: white;
    padding: 0;
    text-align: center;
    margin: auto;
    font-weight: bold;
}
#forfavbtn3 .add2cart3{
    width:100px ;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0;
    text-align: center;
  margin: auto;
    font-weight: bold;
}
#forFooter3{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(2px);}
    .footer{
        width: 100%;
        height: 270px;
        background-color: rgb(0, 0, 0);
        margin: auto;
      box-sizing: border-box;
      padding-top: 1px;
      }
      .footer .footerbox{
        width: 100%;
        height: auto;
        background-color: rgb(0, 0, 0);
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3px;
      }
      .footer .footerbox .sbox1{
        width: 30%;
        height: auto;
        background-color: black;
        margin: auto;
        padding: 10px;
      }
      .footer .footerbox .sbox1 .goForimg{
         width: 50%;
        height: 60px;
        margin: auto;
       display: none;
      border-radius: 2px;
        background-image: url(logo1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        border-radius: 20px;
      }
      .footer .footerbox .sbox1 .h5a{
        color: white;
      }
      .footer .footerbox .sbox1 .h5a span{
        color:yellow;
      }
      .footer .footerbox .sbox1 .h5a{
        color: white;
        text-transform: uppercase;
      }
      .footer .footerbox .sbox1 .h5a a {
        color: white;
      }
      .footer .footerbox .bbox1{
        width: 40%;
        height: auto;
        background-color: black;
        padding: 20px;
      }
      .footer .footerbox .bbox1 .h5B{
        color: white;
      }
      .footer .footerbox .bbox1 .h5b{
        color: white;
      }
      .footer .footerbox .sbox2{
        width: 30%;
        height: 270px;
        background-color: black;
      }
      .footer .footerbox .sbox2 .h5c{
        color: white;
      }
      .footer .footerbox .sbox2 .forallicon{
        width: 40%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 5px;
      border-radius: 15px; 
      }
      .footer .footerbox .sbox2 .forallicon .facebook{
        font-size: xx-large;
        color: rgb(16, 16, 255)
        ;margin-top: 4px;
      }
      .footer .footerbox .sbox2 .forallicon .inst{
        font-size: xx-large;
        color:rgb(240, 13, 225);
        margin-top: 4px;
      }
      .footer .footerbox .sbox2 .forallicon .telegram{
        font-size: xx-large;
        color: rgb(106, 213, 252)
        ;margin-top: 4px;
      }
      .footer .footerbox .sbox2 .forallicon .x{
        font-size: xx-large;
        color:rgb(0, 0, 0)
        ;margin-top: 4px;
        background-color: white;
        border-radius: 30%;
      }

@media screen and (max-width: 576px) {
    #forIcon {
        width: 100%;
        height: 50px;
        margin: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 3px;
        justify-content: space-between;
    }

    #forShopicon {
        margin-top: 5px;
        margin-left: 5px;
        width: calc(100%);
        height: 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        background-image: url(photo_2024-03-17_21-47-06.jpg);
        background-size: cover;
        background-position: center;
    }

    #forCaption {
       width: calc(100%-120px);
        /* Adjusted for remaining space */
        height: 50px;
         /* Added margin for spacing */
      background-color: rgb(0, 0, 0);
        position: relative;
        transform: translate(-130px);
        text-align: center; /* Centering the text */
    }

    #forCaption #p1 {
        color: rgb(255, 255, 255);
        font-size: medium;
        font-style: bold; /* Changed from font-style to font-weight */
        margin-bottom: 5px;
        position: absolute;
         left: 50%;
        transform: translateX(-60%);
        top: 30%;
        margin-top: 0px; /* Adjusted for vertical centering */
    }

    #forCaption #p2 {
        font-size:xx-small;
        color: white;
        margin-bottom: 5px;
        font-style: oblique;
        position: absolute;
left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: none;
    }

    .fa-cart-shopping {
        color: white;
        font-size: large;
        cursor: pointer;
        margin-top: 15px; /* Added margin for spacing */
        margin-right: 20px; /* Adjusted for spacing */
    }

    .fa-bars {
        color: rgb(255, 255, 255);
        font-size: large;
        cursor: pointer;
        margin-top: -5px; /* Added margin for spacing */
        margin-right: 0px; /* Adjusted for spacing */
    }
    #forNotfication{
        width: 9px;
        height: 9px;
        border-radius: 50%;
        color: rgb(254, 43, 43);
        background-color:rgb(254, 43, 43); 
    transform: translate(15px,-22px);
    display: none;
    }
    #forContainer{
        width: 100%;
    background-image: url(playboy0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        height:550px;
    
    }
    
 
   
        
    #forContainer  #forNavbar{

        width: 110px;
        height: auto;
        background: rgba(0, 0, 0, 0.219);
        backdrop-filter: blur(4px);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
       display: none;
       transform: translate(0);
       right: 0;

    }

       #forContainer #forNavbar ol{
       padding-left: 5px;
       display: grid;
       gap: 7px;
       justify-content: space-around;
       
       list-style: none;
       
       
       }
       #forContainer #forNavbar ol #a1{
       font-size: xx-small;
       margin: auto;
       color: white;
       padding-left: 2px;
       padding-top: 10px;
       }
       #forContainer #forNavbar ol #a2{
           font-size: xx-small;
      padding-left: 0;
           color: white;
           padding-left: 2px;
           padding-top: 30px;
           }
           #forContainer #forNavbar ol #a3{
               font-size: xx-small;
               margin: auto;
               color: white;
               padding-top: 30px;
               padding-left: 2px;
               }
       #forContainer #forNavbar ol #i1{
       font-size: x-small;
       padding-left: 4px;
       color: rgb(255, 234, 0);
       }
       #forContainer #forNavbar ol #i2{
       font-size: x-small;
       padding-left: 4px;
       color: greenyellow;
       }
       #forContainer #forNavbar ol #i3{
           font-size: x-small;
           padding-left: 4px;
           color: rgb(204, 166, 13);
       }
    

#forcontainer2{
    width: 100%;
background-image: url(photo_2024-04-06_14-47-29.jpg);
background-repeat: no-repeat;
background-size: cover;
        height: 400px;
        position: relative;   
        }
        #forHeader2{
            width:100%;
            height: 30px;
  
            margin: 0%;
            padding: 0%;
            position: relative;
        }
        #forHeader2 .fa-chess-king{
            color: white;
       
           float: left;
           margin-bottom: 2px;
            margin-left: 2px;
            font-style: italic;
            font-size: x-small;
         
        }
        #forHeader2 h3{
          
            color: white;
  
     padding: 0%;
                float: left;
                margin-top: 20px;
                font-style: italic;
                font-size: x-small;
        }
        #forMain2{
            width: 100%;
            height: 350px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
           
        }
        #longWidth2{
            width: 40%;
            height: 340px;
            margin-top: 5px;
            margin-left: 5px;
            
        
            
            }
            #longWidth2 #forinfo{
                width:100%;
            height: 340px;
        margin: auto;
        
            font-size:medium;
            overflow: scroll;
            }
            
            #shortWidth2{
                width: 60%;
            height: 300px;
            margin: auto;
            margin-top: 30px;
           
           position: relative;
            }
            #forSlide{
                width:90%;
                height:300px;
            margin: auto;
            margin-left: 5px;
                position: relative;
            }
            #forSlide #forslider{
                width: 100%;
                height:300px;
               position: relative;
                
            }
            #forSlide #forslider .ForImgSlider{
                width: 100%;
                height: 60%;
            position: absolute;
            }
            #fordescription{
                width:100%;
                height:35px;
                position: relative;
                margin-left: 10px;
                transform: translate(0px,-110px);
                display: flex;
                flex-direction: row;
                
            }
            #fordescription #prevbtn{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 2px rgb(255, 255, 255) solid;
                color: white;
                background:rgba(68, 66, 66, 0.219);
                backdrop-filter: blur(2px);
                text-align: center;
                font-size: small;
                padding: 0;
                cursor: pointer;
                transform: translate(0px);
                margin-top: 10px;
                margin-left: 15px;
            }
            #fordescription #longbutt{
                width: 200px;
                height: 25px;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            #fordescription #longbutt .fa-chess-knight{
                height: 15px;
                font-size: 13px;
              color:white;
              border: black;
              padding: 0;
            }
            #fordescription #nextbtn{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 2px rgb(255, 255, 255) solid;
                color: white;
                background:rgba(68, 66, 66, 0.219);
                backdrop-filter: blur(2px);
                text-align: center;
                cursor: pointer;
            transform: translate(0px);
            margin-top: 10px;
            margin-right: 15px;

    }
    #forfavbtn{
        width:100%;
        height: 40px;
        background-color:lightgray;
        margin: auto;
        transform: translate(10px,-100px);
     display: flex;
     flex-direction: row;
     border-radius: 10px;
    }
  
    #forfavbtn #forh2{
        width: 35%;
        height: 35px;
        margin: auto;
        padding-top: 5px;
        text-align: center;
        font-size: small;
    }
    #forh2 .onlyinh2{
        color:rgb(255, 255, 255);
        text-shadow: 1px 2px 2px black;
        transform: translate(0px,-10px);
    }
    #for2btn2{
        width: 65%;
        height:40px ;
        
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
     .purchase2{
        width:45% ;
        height: 30px;
        background-color: black;
        color: white;
        padding: 0;
        text-align: center;
        margin: auto;
        font-size: x-small;
        font-weight: bold;
    }
     .add2cart2{
        width:45% ;
        height: 30px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 0;
        text-align: center;
      margin: auto;
            font-weight: bold;
            font-size: x-small;


}
#forFooter2{
    width:100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(2px);
}
#forcontainer3{
    width: 100%;
background-image: url(photo_2024-04-08_21-19-18.jpg);
background-repeat: no-repeat;
background-size: cover;
        height: 400px;
        position: relative;   
        }
        #forHeader3{
            width:100%;
            height: 30px;
  
            margin: 0%;
            padding: 0%;
            position: relative;
        }
        #forHeader3 .fa-chess-queen{
            color: white;
           float: left;
           margin-bottom: 2px;
            margin-left: 2px;
            font-style: italic;
            font-size: x-small;
         
        }
        #forHeader3 h3{
            color: white;
  
     padding: 0%;
                float: left;
                margin-top: 20px;
                font-style: italic;
                font-size: x-small;
        }
        #forMain3{
            width: 100%;
            height: 350px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
           
        }
        #longWidth3{
            width: 40%;
            height: 340px;
            margin-top: 5px;
            margin-left: 5px;
            
        
            
            }
            #longWidth3 #forinfo3{
                width:100%;
            height: 340px;
        margin: auto;
        
            font-size:medium;
            overflow: scroll;
            }
            
             #shortWidth3{
                width: 60%;
            height: 300px;
            margin: auto;
            margin-top: 30px;
        
           
           position: relative;
            }
            #forSlide3{
                width:90%;
                height:300px;
            margin: auto;
            margin-left: 5px;
                position: relative;
            }
            #forSlide3 #forslider3{
                width: 100%;
                height:300px;
               position: relative;
                
            }
            #forSlide3 #forslider3 .ForImgSlider3{
                width: 100%;
                height: 60%;
            position: absolute;
            }
            #fordescription3{
                width:100%;
                height:35px;
                position: relative;
                margin-left: 10px;
                transform: translate(0px,-110px);
                display: flex;
                flex-direction: row;
                
            }
            #fordescription3 #prevbtn3{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 2px rgb(255, 255, 255) solid;
                color: white;
                background:rgba(68, 66, 66, 0.219);
                backdrop-filter: blur(2px);
                text-align: center;
                font-size: small;
                padding: 0;
                cursor: pointer;
                transform: translate(0px);
                margin-top: 10px;
                margin-left: 15px;
            }
            #fordescription3 #longbutt3{
                width: 200px;
                height: 25px;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            #fordescription3 #longbutt3 .fa-chess-bishop{
                height: 15px;
                font-size: 13px;
              color:white;
              border: black;
              padding: 0;
            }
            #fordescription3 #nextbtn3{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 2px rgb(255, 255, 255) solid;
                color: white;
                background:rgba(68, 66, 66, 0.219);
                backdrop-filter: blur(2px);
                text-align: center;
                cursor: pointer;
            transform: translate(0px);
            margin-top: 10px;
            margin-right: 15px;

    }
    #forfavbtn3{
        width:100%;
        height: 40px;
        background-color:lightgray;
        margin: auto;
        transform: translate(10px,-100px);
     display: flex;
     flex-direction: row;
     border-radius: 10px;
    }
  
    #forfavbtn3 #forh3{
        width: 35%;
        height: 35px;
        margin: auto;
        padding-top: 5px;
        text-align: center;
        font-size: small;
    }
    #forh3 .onlyinh3{
        color:rgb(255, 255, 255);
        text-shadow: 1px 2px 2px black;
        transform: translate(0px,-10px);
    }
    #forfavbtn3  #for2btn3{
        width: 65%;
        height:40px ;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #forfavbtn3  #for2btn3   .purchase3{
        width:45% ;
        height: 30px;
        background-color: black;
        color: white;
        padding: 0;
        text-align: center;
        margin: auto;
        font-size: x-small;
        font-weight: bold;
    }
    #forfavbtn3  #for2btn3   .add2cart3{
        width:45% ;
        height: 30px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 0;
        text-align: center;
      margin: auto;
            font-weight: bold;
            font-size: x-small;


}
#forFooter3{
    width:100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(2px);
}
}
@media (min-width: 576px) and (max-width: 767.98px){ 
    #forIcon {
        width: 100%;
        height: 50px;
        margin: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 3px;
        justify-content: space-between;
    }

    #forShopicon {
        margin-top: 5px;
        margin-left: 5px;
        width: 50%;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        background-image: url(photo_2024-03-17_21-47-06.jpg);
        background-size: cover;
        background-position: center;
    }

    #forCaption {
       width: calc(100%-100px);
  
        /* Adjusted for remaining space */
        height: 50px;
         /* Added margin for spacing */
      background-color: rgb(0, 0, 0);
        position: relative;
        transform: translate(-150px);
        text-align: center; /* Centering the text */
    }

    #forCaption #p1 {
        color: rgb(119, 228, 24);
        font-size: large;
        font-style: bold; /* Changed from font-style to font-weight */
        margin-bottom: 5px;
        position: absolute;
         left: 50%;
        transform: translateX(-50%);
        top: 30%;
        margin-top: 0px; /* Adjusted for vertical centering */
    }

    #forCaption #p2 {
        font-size:xx-small;
        color: white;
        margin-bottom: 5px;
        font-style: oblique;
        position: absolute;
left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: none;
    }

    .fa-cart-shopping {
        color: white;
        font-size: x-large;
        cursor: pointer;
        margin-top: 15px; /* Added margin for spacing */
        margin-right: 20px; /* Adjusted for spacing */
    }

    .fa-bars {
        color: rgb(255, 255, 255);
        font-size: x-large;
        cursor: pointer;
        margin-top: -5px; /* Added margin for spacing */
        margin-right: 0px; /* Adjusted for spacing */
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
    #forIcon {
        width: 100%;
        height: 50px;
        margin: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 3px;
        justify-content: space-between;
    }

    #forShopicon {
        margin-top: 5px;
        margin-left: 5px;
 width: calc(25%);
        height: 40px;
        background-color: white;
        border-radius: 10px;
        background-image: url(photo_2024-03-17_21-47-06.jpg);
        background-size: cover;
        background-position: center;
    }

    #forCaption {
       width: calc(100%-120px);
        /* Adjusted for remaining space */
        height: 50px;
         /* Added margin for spacing */
      background-color: rgb(0, 0, 0);
        position: relative;
        transform: translate(-150px);
        text-align: center; /* Centering the text */
    }

    #forCaption #p1 {
        color: rgb(0, 13, 200);
        font-size: large;
        font-style: bold; /* Changed from font-style to font-weight */
        margin-bottom: 5px;
        position: absolute;
         left: 50%;
        transform: translateX(-50%);
        top: 30%;
        margin-top: 0px; /* Adjusted for vertical centering */
    }

    #forCaption #p2 {
        font-size:x-small;
        color: white;
        margin-bottom: 5px;
        font-style: oblique;
        position: absolute;
left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: none;
  
    }

    .fa-cart-shopping {
        color: white;
        font-size: x-large;
        cursor: pointer;
        margin-top: 15px; /* Added margin for spacing */
        margin-right: 20px; /* Adjusted for spacing */
    }

    .fa-bars {
        color: rgb(255, 255, 255);
        font-size: x-large;
        cursor: pointer;
        margin-top: -5px; /* Added margin for spacing */
        margin-right: 0px; /* Adjusted for spacing */
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #forIcon {
        width: 100%;
        height: 50px;
        margin: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 3px;
        justify-content: space-between;
    }

    #forShopicon {
        margin-top: 5px;
        margin-left: 5px;
        width: calc(100%-9.8%);
        height: 40px;
        background-color: white;
        border-radius: 10px;
        background-image: url(photo_2024-03-17_21-47-06.jpg);
        background-size: cover;
        background-position: center;
    }

    #forCaption {
       width: calc(100%-120px);
        /* Adjusted for remaining space */
        height: 50px;
         /* Added margin for spacing */
      background-color: rgb(0, 0, 0);
        position: relative;
        transform: translate(-130px);
        text-align: center; /* Centering the text */
    }

    #forCaption #p1 {
        color: rgb(221, 240, 10);
        font-size: large;
        font-style: bold; /* Changed from font-style to font-weight */
        margin-bottom: 5px;
        position: absolute;
         left: 50%;
        transform: translateX(-50%);
        top: 10%;
        margin-top: 0px; /* Adjusted for vertical centering */
    }

    #forCaption #p2 {
        font-size:x-small;
        color: white;
        margin-bottom: 10px;
        font-style: oblique;
        position: absolute;
left: 50%;
        transform: translateX(-50%);
        bottom: 0;
  
    }

    .fa-cart-shopping {
        color: white;
        font-size: x-large;
        cursor: pointer;
        margin-top: 15px; /* Added margin for spacing */
        margin-right: 20px; /* Adjusted for spacing */
    }

    .fa-bars {
        color: rgb(255, 255, 255);
        font-size: x-large;
        cursor: pointer;
        margin-top: -5px; /* Added margin for spacing */
        margin-right: 0px; /* Adjusted for spacing */
    }
}
@media (min-width: 1200px) and (max-width:1660.8px){
	#forIcon {
        width: 100%;
        height: 50px;
        margin: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 3px;
        justify-content: space-between;
    }

    #forShopicon {
        margin-top: 5px;
        margin-left: 5px;
        width: calc(100%-9.8%);
        height: 40px;
        background-color: rgb(234, 101, 29);
        border-radius: 10px;
        background-image: url(photo_2024-03-17_21-47-06.jpg);
        background-size: cover;
        background-position: center;
    }

    #forCaption {
       width: calc(100%-120px);
        /* Adjusted for remaining space */
        height: 50px;
         /* Added margin for spacing */
      background-color: rgb(0, 0, 0);
        position: relative;
        transform: translate(-70px);
        text-align: center; /* Centering the text */
    }

    #forCaption #p1 {
        color: rgb(255, 255, 255);
        font-size: large;
        font-style: bold; /* Changed from font-style to font-weight */
        margin-bottom: 5px;
        position: absolute;
         left: 50%;
        transform: translateX(-50%);
        top: 10%;
        margin-top: 0px; /* Adjusted for vertical centering */
    }

    #forCaption #p2 {
        font-size:x-small;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
        font-style: oblique;
        position: absolute;
left: 50%;
        transform: translateX(-50%);
        bottom: 0;
  
    }

    .fa-cart-shopping {
        color: white;
        font-size: x-large;
        cursor: pointer;
        margin-top: 15px; /* Added margin for spacing */
        margin-right: 20px; /* Adjusted for spacing */
    }

    .fa-bars {
        color: rgb(255, 255, 255);
        font-size: x-large;
        cursor: pointer;
        margin-top: -5px; /* Added margin for spacing */
        margin-right: 0px; /* Adjusted for spacing */
    }
}


